USE [master]
GO
/****** Object:  Database [ShopDoChoi]    Script Date: 09/09/2024 11:44:29 CH ******/
CREATE DATABASE [ShopDoChoi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopDoChoi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TIENKHAI\MSSQL\DATA\ShopDoChoi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopDoChoi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TIENKHAI\MSSQL\DATA\ShopDoChoi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopDoChoi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopDoChoi]
GO
/****** Object:  Table [dbo].[QuanLyHang]    Script Date: 09/09/2024 11:44:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyHang](
	[MaHangHoa] [int] IDENTITY(1,1) NOT NULL,
	[TenHang] [nvarchar](255) NOT NULL,
	[MaLoaiHang] [int] NOT NULL,
	[GiaNhap] [decimal](18, 0) NOT NULL,
	[GiaBan] [decimal](18, 0) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[DuongDanAnh] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLyLoaiHang]    Script Date: 09/09/2024 11:44:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyLoaiHang](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](255) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_QuanLyLoaiHang] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 09/09/2024 11:44:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](255) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[TenNguoiDung] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
